/build/
/dist/
/java/IA-ProyectoDOS/build/
/java/IA-ProyectoDOS/dist/
/java/Proyecto3/nbproject/private/
/java/Proyecto3/build/
/java/Proyecto3/dist/
/java/Ejercicio01_JPA/nbproject/private/
/java/Ejercicio01_JPA/build/
/java/Ejercicio01_JPA/dist/
/java/Proyecto4/nbproject/private/
/java/Proyecto4/build/
/java/Proyecto4/dist/
/java/Proyecto5/nbproject/private/
/java/Proyecto5/build/
/java/Proyecto5/dist/